---
import "../styles/global.css";
import Layout from "../layouts/layout.astro";
---

<Layout title="Nammahari's Blog">
  <h1>This is blog Site</h1>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    <li><a href="/posts/b1/">Post 1</a></li>
  </ul>
</Layout>
