---
import "../styles/global.css";
import Navigationa from "../components/nav.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title="Nammahari's Blog">
  <h1>This is blog Site</h1>
</Layout>
